################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Geico/bin/Debug/net6.0
/Geico/.vs
/Geico/obj
/GeicoUnitTests/bin/Debug/net6.0
/GeicoUnitTests/obj
